extends ../../base

block mainContent
    .container.mt-5
      .row
        .col-md-6
          h4 Add New RSS Feed
          form#addRssForm
            .mb-3
              label(for="rssUrl" class="form-label") RSS Feed URL
              input(type="url" class="form-control" id="rssUrl" placeholder="Enter RSS feed URL" required)
            .mb-3
              label(for="rssName" class="form-label") Name (Optional)
              input(type="text" class="form-control" id="rssName" placeholder="Enter a name for the feed")
            button.btn.btn-primary(type="submit") Add Feed
          
        .col-md-6
          h4 Manage Existing Feeds
          .list-group#feedsList
            // Example of a feed item
            .list-group-item.d-flex.justify-content-between.align-items-center
              span Feed Name - Feed URL
              .btn-group(role="group" aria-label="Basic example")
                button.btn.btn-secondary(type="button") Update
                button.btn.btn-success(type="button") Start
                button.btn.btn-warning(type="button") Pause
                button.btn.btn-danger(type="button") Delete
    script(src="/js/rss.js")
