extends base

block mainContent
    section.my-2
        .row.row-cols-1.row-cols-md-3
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/autoblog`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-robot.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 記事作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | ブログ記事を自動で作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/transcription`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-microphone.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-file-alt.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 議事録
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 音声をテキストに変換します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/mailgen`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-envelope.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-paper-plane.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | メール作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | メールを自動で作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/pdfsummary`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-file-pdf.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-file-alt.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | PDF要約
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | PDF文書を簡単に要約します。
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/imageGenerator`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-font.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-image.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | AI画像生成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | テキストを画像に変換します。
