extends base

block mainContent
    section.my-3
        .row.row-cols-1.row-cols-md-3.my-5
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/autoblog`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-robot.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center
                            p.card-text.text-muted.text-center.w-100
                                | Auto - Wordpress
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow-0.border.px-2(href=`/dashboard/app/generator/4`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fab.fa-twitter-square.mx-3.display-6
                        div.col-12.d-flex.align-items-center
                            p.card-text.text-muted.text-center.w-100
                                | SNS
                                
        .row.row-cols-1.row-cols-md-2.my-5
            .col.d-none
                h5.fw-bold
                    i.fas.fa-bell.me-2
                if latestNews
                    .news-item.mt-3
                        .news-date.text-muted
                            | #{latestNews.date}
                        .news-content
                            | #{latestNews.content}
                else
                    p.text-muted.mt-3.px-3 今は何もありません。
            .col 
                h5.fw-bold
                    i.fas.fa-cogs.me-2
                .row.row-cols-1.row-cols-md-2.my-3
                    .col.my-1
                        a.btn.btn-primary.shadow-0.w-100(href="/user/setting") アカウント設定
                    .col.my-1
                        a.btn.btn-primary.shadow-0.w-100(href="/about-us") 会社概要
                    .col.my-1
                        a.btn.btn-outline-primary.shadow-0.w-100(href="#") 使い方ガイド
                    .col.my-1
                        a.btn.btn-outline-primary.shadow-0.w-100(href="/contact") お問い合わせ
