extends base

block mainContent
    section.my-2
        .row.row-cols-1.row-cols-md-3.row-cols-md-4
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/blogeditor`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-robot.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 記事作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | ブログ記事を自動で作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/autoblog`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-robot.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 自動記事作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | ブログ記事を自動で作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/trend-tracker`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fas.fa-chart-line.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") NEW
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | トレンド記事作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | Googleトレンドに基づき記事を自動生成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/trendblog`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-chart-line.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | トレンドブログ
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | トレンドに基づいて記事を自動生成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/trend-autoblog`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-chart-line.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fab.fa-wordpress.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | トレンド自動ブログ
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | トレンドに基づいて記事を自動作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/transcription`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-microphone.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-file-alt.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 議事録
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 音声をテキストに変換します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/mailgen`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-envelope.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-paper-plane.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | メール作成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | メールを自動で作成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/pdfsummary`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-file-pdf.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-file-alt.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | PDF要約
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | PDF文書を簡単に要約します。
            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href=`/dashboard/app/imageGenerator`)
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-font.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-image.mx-3.display-6
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | AI画像生成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | テキストを画像に変換します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.position-relative.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-chart-line.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-chart-bar.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | データ分析
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | データを分析しインサイトを提供します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.position-relative.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-user-tie.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-comments.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | カスタマーサポート
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 顧客対応の自動化を支援します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.position-relative.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-bullhorn.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-ad.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | マーケティング支援
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | ターゲット広告や分析の自動化。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.position-relative.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-lightbulb.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-cogs.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | アイデア生成
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | ビジネスのアイデアを自動生成します。

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-chart-line.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-poll-h.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | データ分析
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | データセットの分析とインサイト生成

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-comments.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-robot.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | チャットボット
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 自動応答用のチャットボット生成

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-language.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-globe.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | 翻訳
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 多言語翻訳サービス

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-chart-pie.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-chart-area.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | トレンド予測
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | AIでビジネストレンドを予測

            .col.mb-3
                a.card.btn-outline-light.text-primary.shadow.border.px-2(href="#")
                    .card-body.row.justify-start.items-start.px-2
                        div.col.d-flex.align-items-center.justify-content-center.mb-3
                            i.fa.fa-clipboard.mx-3.display-6
                            i.fa.fa-arrow-right
                            i.fa.fa-sticky-note.mx-3.display-6
                            span.position-absolute.badge.py-1.px-2.text-white.coming-soon(style="top: 10px; right: 10px;") 近日公開
                        div.col-12.d-flex.align-items-center.flex-column
                            span.card-text.text-muted.text-center.fw-bold.w-100
                                | コンテンツ要約
                            span.card-text.text-muted.text-center.w-100(style="font-size:12px;")
                                | 文章や資料を短く要約

