extends base

block mainContent
    h2.fw-bold Home
    hr.my-4
    
    section.my-5
        .row.row-cols-1.row-cols-md-2.my-5
            .col
                h5.fw-bold
                    i.fas.fa-bell.me-2
                    | News
                if latestNews
                    .news-item.mt-3
                        .news-date.text-muted
                            | #{latestNews.date}
                        .news-content
                            | #{latestNews.content}
                else
                    p.text-muted.mt-3.px-3 Nothing new for now.

            .col 
                h5.fw-bold
                    i.fas.fa-cogs.me-2
                    | Settings and Support
                .row.row-cols-1.row-cols-md-2.my-3
                    .col.my-1
                        a.btn.btn-primary.w-100(href="/user/setting") Account Parameters
                    .col.my-1
                        a.btn.btn-primary.w-100(href="/about-us") About Us
                    .col.my-1
                        a.btn.btn-outline-primary.w-100(href="#") How to use ?
                    .col.my-1
                        a.btn.btn-outline-primary.w-100(href="/contact") Contact Us