extends base

block mainContent
    h2.fw-bold Home
    hr.my-4
    section.my-5
        h5.fw-bold
            i.fas.fa-code.me-2
            | App in construction
        .row.row-cols-1.row-cols-md-3.mt-4
            .col
                a.card.btn.bg-white.px-2(href="/dashboard/app/dating/chat-profile")
                    .card-body.row.justify-start.items-start.px-2
                        div.col-2.d-flex.align-items-center
                            i.fas.fa-heart.mr-3.display-6
                        div.col-10
                            h5.card-title.fw-bold.text-start
                                | Dating profile
                            p.card-text.text-start.text-muted
                                | Chat to create your best profile.
    section.my-5
        .row.row-cols-1.row-cols-md-2.my-5
            .col
                h5.fw-bold
                    i.fas.fa-bell.me-2
                    | News
                if latestNews
                    .news-item.mt-3
                        .news-date.text-muted
                            | #{latestNews.date}
                        .news-content
                            | #{latestNews.content}
                else
                    p.text-muted.mt-3.px-3 Nothing new for now.

            .col 
                h5.fw-bold
                    i.fas.fa-cogs.me-2
                    | Settings and Support
                .row.row-cols-1.row-cols-md-2.my-3
                    .col.my-1
                        a.btn.btn-primary.w-100(href="/user/setting") Account Parameters
                    .col.my-1
                        a.btn.btn-primary.w-100(href="/about-us") About Us
                    .col.my-1
                        a.btn.btn-outline-primary.w-100(href="#") How to use ?
                    .col.my-1
                        a.btn.btn-outline-primary.w-100(href="/contact") Contact Us