extends ../dashboard/base

block mainContent
  h1 Payment Error
  p An error occurred during the payment process. Please try again later.
  a.btn.btn-primary(href="/payment/subscription") Choose a Subscription
