extends ../../base

block mainContent
    link(rel='stylesheet', href='/css/generator/titlegenerator.css')
   
    .container.mt-5
        .col-md-6.col-12.my-2.order-2
            .col-md-8.my-2
                ul#result.list-group
        .col-md-6.col-12.my-2.order-1
            .col-md-8
                form#generator(data-type="0")
                    .card
                        .card-header
                            h3.mb-0 キーワードを入力してください
                        .card-body
                            .form-group.my-2
                                label(for="title") 主要なキーワード
                                input#title.form-control.w-100(type="text", name="title", placeholder="title", required)
                            .form-group.my-2
                                label(for="metaDescription") 主要なキーワード
                                textarea#metaDescription.form-control.w-100(rows="2", name="metaDescription", placeholder="metaDescription", required)
                            
                            .form-group.my-2
                                label(for="count") タイトル数
                                input#count.form-control(type="number", name="count", placeholder="1、2、3...", value=5, min="1" max="5" required)

                            .row 
                                .col-md-4.my-2
                                    .form-group
                                        label(for="language") 言語
                                        select#language.form-control(name="language")
                                            option(value="japanese" selected) 日本語
                                            option(value="english") 英語
                                            option(value="spanish") スペイン語
                                            option(value="french") Français
                                            // 必要に応じて他の言語を追加
                                .col-md-4.my-2
                                    .form-group
                                        label(for="writingStyle") 書き方
                                        select#writingStyle.form-control(name="writingStyle")
                                            option(value="narrative") 物語性
                                            option(value="expository") 説明的
                                            option(value="descriptive") 描写的
                                            option(value="persuasive") 説得力のある

                                .col-md-4.my-2
                                    .form-group
                                        label(for="writingTone") トーン
                                        select#writingTone.form-control(name="writingTone")
                                            option(value="formal") フォーマル
                                            option(value="friendly") フレンドリー
                                            option(value="casual") カジュアル
                                            option(value="humorous") ユーモラス

                            .form-group.my-2
                                button#generation.btn.btn-info.w-100.text-center(type="submit") 
                                    span.load.spinner-border.spinner-border-sm.me-2(role="status" style="display:none")
                                    span.text 生成しましょう！
    script(src="/js/generator.js")

