extends ../../base

block mainContent
    link(rel='stylesheet', href='/css/generator/snsgenerator.css')
    h2.fw-bold.text-center SNSジェネレーターエクストラオーディネア！
    hr.my-4
    .container.mt-5
        .row.justify-content-center
            .col-md-6.col-12.my-2.order-2
                h3 生成されたセクション
                ul#result.list-group
            .col-md-6.col-12.my-2.order-1
                form#generator(data-type="4")
                    .card
                        .card-header
                            h3.mb-0 ここに魔法の材料を入力してください！
                        .card-body
                            .form-group.my-2
                                label(for="title") 魅力的なタイトル
                                input#title.form-control(type="text", name="title", placeholder="素敵なタイトルを入力してください")
                            .form-group.my-2
                                label(for="sections") あなたのセクション
                                textarea#sections.form-control(name="sections", placeholder="1行ごとにセクションを入力してください", required)
                            
                            .form-group.my-2
                                label(for="count") Tweetの数/セクション
                                input#count.form-control(type="number", name="count", placeholder="1、2、3...", value=2, min="1" max="3" required)

                            .row 
                                .col-md-4.my-2
                                    .form-group
                                        label(for="language") 言語
                                        select#language.form-control(name="language")
                                            option(value="japanese" selected) 日本語
                                            option(value="english") 英語
                                            option(value="spanish") スペイン語
                                            option(value="french") Français
                                            // 必要に応じて他の言語を追加
                                .col-md-4.my-2
                                    .form-group
                                        label(for="writingStyle") 書き方
                                        select#writingStyle.form-control(name="writingStyle")
                                            option(value="narrative") 物語性
                                            option(value="expository") 説明的
                                            option(value="descriptive") 描写的
                                            option(value="persuasive") 説得力のある

                                .col-md-4.my-2
                                    .form-group
                                        label(for="writingTone") トーン
                                        select#writingTone.form-control(name="writingTone")
                                            option(value="formal") フォーマル
                                            option(value="friendly") フレンドリー
                                            option(value="casual") カジュアル
                                            option(value="humorous") ユーモラス
                            .form-group.my-2
                                button#generation.btn.btn-primary.w-100(type="submit") 
                                    span.load.spinner-border.spinner-border-sm.me-2(role="status", style="display:none")
                                    span.text 作成しましょう！

        
    script(src="/js/generator.js")
