extends default

block content
    //- 背景画像
    div#intro.bg-image.shadow-1-strong
        div(style="background: linear-gradient(120.9deg, #fff 50.74%, #4facfe 102.92%);")
            div.container.row.align-items-center.h-100.m-auto
                div.col-12.col-md-6.py-5.text-dark(data-animate="animate__slideInLeft")
                    h1.mb-3.fw-bold.text-dark.text-center#headline-container
                        span.b-custom-gradient-text RAKUBUN
                        p.generate-text#headline
                    .text-center
                        | 全自動でSEOランクも維持、記事作成に時間は不要です。
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.mt-3
                        button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce"  data-delay="animate__delay-1s" onclick="displayLogin()", role="button", style="border-radius:50px") まずは無料でお試し
                        img(src="/img/mv_img02_pc_240530.png" style="width:100%")
                .col-12.col-sm-6(data-animate="animate__slideInRight")
                    .container.p-3.text-center
                        img(src="/img/network-robot-assistant-working-on-laptop.gif" style="width:90%")
                        span.text-muted(style="font-size: 12px;position: absolute;bottom: 5px;right: 0;" data-animate="animate__fadeIn" data-delay="animate__delay-2s")
                            | Illustration by 
                            a(href="https://icons8.com/illustrations/author/Go8GMpKPAq1W") Polina M.
                            |  from 
                            a(href="https://icons8.com/illustrations") Ouch!

    div.pt-2(style="overflow-x:hidden;")
        section
            .container
                .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-3.g-4.pt-5.mb-4
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-file-alt(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 自動記事投稿
                            p 記事の作成から投稿まで、すべて自動で対応します。
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-key(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 キーワードに基づく自動投稿
                            p 特定のキーワードを狙った記事を自動で投稿します。
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-tags(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 タグの自動生成
                            p 記事に関連するタグも自動で生成し、SEO対策もバッチリ。
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-image(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 アイキャッチ画像の自動生成
                            p 記事にぴったりのアイキャッチ画像も自動で作成します。
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-chart-line(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 SEO最適化
                            p RAKUBUNは最適化された記事を生成し、検索エンジンでのランキングを向上させます。
                    .col.d-flex.align-items-start(data-animate="animate__fadeInUp")
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-money-bill-wave(style='width: 1.75em; height: 1.75em;')
                        div
                            h6.fw-bold.mb-0 ブログで収益を上げる
                            p 高品質なコンテンツと自動化機能により、ブログで安定した収益を得ることが可能です。

        //- Section: Content
        section.text-center.py-5
            .container
                h1.display-4.text-center.mb-5(data-animate="animate__fadeInUp") こんなお悩みありませんか？

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 アフィリエイトしたいけど時間がない
                        p.text-muted.fs-6 忙しくてアフィリエイト記事を定期的に投稿する時間が取れないあなたに。RAKUBUNなら、自動で記事を投稿し、時間を有効に活用できます。
                    .col-md-6
                        img(src="/img/feature-1.png" style="width:200px;" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start.order-md-2(data-animate="animate__slideInRight")
                        h4.fw-bold.mb-3 いい記事を書いているけどキーワードSEOが弱いため、読まれない
                        p.text-muted.fs-6 記事は素晴らしいのに、SEO対策が不十分で読まれない…そんな悩みを解決します。RAKUBUNが狙ったキーワードで自動投稿し、SEO効果を最大化します。
                    .col-md-6.order-md-1
                        img(src="/img/feature-2.png" style="width:200px;" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 外注のライターさんがいるけど、記事の質の割に高額
                        p.text-muted.fs-6 外注ライターのコストが高いと感じていませんか？RAKUBUNなら、高品質な記事を自動で生成し、コストを大幅に削減できます。
                    .col-md-6
                        img(src="/img/feature-3.png" style="width:200px;" data-animate="animate__fadeIn")

                hr.my-5

                h1.display-4.text-center.mb-5 
                    span.b-custom-gradient-text.fw-bold RAKUBUN
                    | があれば

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 テンプレートを活用して、簡単にコンテンツを作成
                        p.text-muted.fs-6 RAKUBUNでは、多様なテンプレートを利用して、手軽に高品質なコンテンツを作成できます。事前に設計されたテンプレートを使うことで、作業の効率が大幅に向上し、時間を節約しながら効果的なSEO対策が可能です。
                        a.badge.badge-light(href="/templates") テンプレート一覧
                    .col-md-6
                        img(src="/img/feature-4.png" style="width:200px;" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start.order-md-2(data-animate="animate__slideInRight")
                        h4.fw-bold.mb-3 ボリュームのあるブログを作って、売れる
                        p.text-muted.fs-6 大量のコンテンツを素早く作成できるRAKUBUNで、ボリュームのあるブログを構築。質の高い記事でユーザーの信頼を得て、収益化を実現します。
                    .col-md-6.order-md-1
                        img(src="/img/feature-5.png" style="width:200px;" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 すぐにPVが上がってきて、安定したアフィリエイト報酬が手に入る
                        p.text-muted.fs-6 RAKUBUNの自動投稿機能とSEO対策により、短期間でページビュー（PV）が増加。安定したアフィリエイト報酬を確保するための強力なサポートを提供します。
                    .col-md-6
                        img(src="/img/feature-6.png" style="width:200px;" data-animate="animate__fadeIn")


        section.section-with-sticky-cta.text-center.mb-5.py-5.border(style="background: linear-gradient(10.9deg, #fff 50.74%, #4facfe 102.92%);")
            .container
                .row.align-items-center
                    .col
                        h2.fw-bold.mb-4 コンテンツを自動で作成
                        p.text-muted.fs-5 RAKUBUNがあなたのために、SEO最適化された高品質な記事を自動で生成します。時間を節約しながら、収益を最大化しましょう。
            .p-3
                .container.text-center
                    button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce" onclick="displayLogin()", role="button", style="border-radius:50px") 今すぐ無料で始める

        section.text-center.py-5
            .container
                h1.display-4.text-center.mb-5(data-animate="animate__fadeInUp") 記事作成からWordPress投稿まで
                p.text-center.text-muted.fs-5 ワンステップで簡単に

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 記事のアイデアを書き込もう
                        p.text-muted.fs-6 記事の内容を選び、ブログのアイデアやキーワードを入力します。投稿形式は下書き、公開、カテゴリーの選択が可能です。
                    .col-md-6
                        img(src="/img/wordpress1.jpg" style="width:100%;" class="shadow rounded" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start.order-md-2(data-animate="animate__slideInRight")
                        h4.fw-bold.mb-3 複数のブログを一箇所で簡単管理
                        p.text-muted.fs-6 Botは無制限に作成可能です。また、自動投稿機能のオンオフを簡単に管理でき、記事の即時生成にも対応しています。
                    .col-md-6.order-md-1
                        img(src="/img/wordpress2.jpg" style="width:100%;" class="shadow rounded" data-animate="animate__fadeIn")

                .row.align-items-center.mb-5
                    .col-md-6.text-start(data-animate="animate__slideInLeft")
                        h4.fw-bold.mb-3 Wordpressへそのまま投稿
                        p.text-muted.fs-6 生成された文章はそのままWordPressに投稿され、アイキャッチ画像も自動生成・挿入されます。さらに、タグやカテゴリーも自動入力され、手間なく完了します！
                    .col-md-6
                        img(src="/img/wordpress3.jpg" style="width:100%;" class="shadow rounded" data-animate="animate__fadeIn")


            .p-3
                .container.text-center
                    button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce" onclick="displayLogin()", role="button", style="border-radius:50px") 今すぐ無料で始める
        
        section.section-with-sticky-cta
                .container
                    h1.display-4.text-center.mb-5 
                        span.b-custom-gradient-text.fw-bold RAKUBUN
                        | で成果を上げたユーザーの声
                    .row 
                        .col-12.col-sm-6
                            .mb-4
                                .card.border-0.shadow-0.p-0(data-animate="animate__fadeIn")
                                    .card-body.p-0
                                        ul.list-group.text-start
                                            li.list-group-item.b-custom-gradient.text-white
                                                strong ユーザー名: 
                                                span(style="font-size:14px") Fさん
                                            li.list-group-item
                                                strong 年齢: 
                                                span(style="font-size:14px") 32歳
                                            li.list-group-item
                                                strong 職業: 
                                                span(style="font-size:14px") アフィリエイター
                                            li.list-group-item
                                                strong 背景: 
                                                span(style="font-size:14px") Fさんは本業が忙しく、記事の更新頻度が低いため、アフィリエイト収益が思うように伸び悩んでいました。限られた時間の中でコンテンツを更新し続けるのは大変で、サイトの活性化が課題となっていました。
                                            li.list-group-item
                                                strong 成果: 
                                                span(style="font-size:14px") RAKUBUNを導入後、Fさんは特定のキーワードに基づいて自動で記事を投稿する機能を活用しました。その結果、2ヶ月でページビューが200%増加し、収益も大幅に向上しました。自動生成された記事がSEO効果を発揮し、サイトのトラフィックが急増しました。また、記事の更新頻度が改善され、安定した収益化が実現しました。
                                            li.list-group-item
                                                strong コメント: 
                                                span(style="font-size:14px") 「RAKUBUNのおかげで、限られた時間の中でもコンテンツを継続的に更新できるようになりました。SEO対策も自動で行ってくれるので、収益の増加を実感しています。時間の節約と収益の向上の両方を実現できて、大変満足しています。」 – Fさん

                        .col-12.col-sm-6
                            .mb-4
                                .card.border-0.shadow-0.p-0(data-animate="animate__fadeIn")
                                    .card-body.p-0
                                        ul.list-group.text-start
                                            li.list-group-item.b-custom-gradient.text-white
                                                strong ユーザー名: 
                                                span(style="font-size:14px") Yさん
                                            li.list-group-item
                                                strong 年齢: 
                                                span(style="font-size:14px") 40代
                                            li.list-group-item
                                                strong 職業: 
                                                span(style="font-size:14px") 専業主婦・アフィリエイター
                                            li.list-group-item
                                                strong 背景: 
                                                span(style="font-size:14px") Yさんは、外注ライターに記事作成を依頼していましたが、記事の質は並程度で、毎月15,000円のコストがかかっていました。アフィリエイトからの収入は毎月4〜6万円程度で、外注費が高く感じていました。
                                            li.list-group-item
                                                strong 成果: 
                                                span(style="font-size:14px") RAKUBUNを導入することで、月額3000円で毎日自動投稿されるようになりました。RAKUBUNによって生成される記事の質が向上し、外注ライターと同程度の成果を上げることが確認されました。これにより、外注ライターにはもっと文字数の多い、濃い内容の記事に集中して書いてもらうことができ、外注費用も半額に削減されました。結果として、PV数、売上、そして利益が大幅に向上しました。
                                            li.list-group-item
                                                strong コメント: 
                                                span(style="font-size:14px") 「RAKUBUNを導入することで、コストを大幅に削減しながらも、記事の質と収益が改善されました。外注ライターにはより専門的な記事を書いてもらう余裕ができ、全体的な効率が向上しました。非常に満足しています。」 – Yさん

                
        section.section-with-sticky-cta.text-center.mb-5.py-5.border(style="background: linear-gradient(10.9deg, #fff 50.74%, #4facfe 102.92%);")
            .container
                .row.align-items-center
                    .col
                        h2.fw-bold.mb-4 コンテンツを自動で作成
                        p.text-muted.fs-5 RAKUBUNがあなたのために、SEO最適化された高品質な記事を自動で生成します。時間を節約しながら、収益を最大化しましょう。
            .p-3
                .container.text-center
                    button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce" onclick="displayLogin()", role="button", style="border-radius:50px") 今すぐ無料で始める
        