extends default

block content
    //- Background image
    div#intro.bg-image.shadow-1-strong
        div(style="background:linear-gradient(45deg, rgba(23, 88, 213, 0.7), rgba(14, 167, 214, 0.7) 100%);")
            div.container.d-flex.align-items-center.h-100(style="min-height:70vh;")
                div.text-white.col-12.col-md-12.py-5
                    h1.mb-3.fw-bold.display-4
                        span RAKUBUN,
                        span.generate-text(data-context="この見出しに代わる見出しを書いてほしい：AIを使ってコンテンツ制作を10倍速に")
                        span.generate-text-fail(style="display:none")
                            span コンテンツ制作を10倍速に
                    h5 高品質な記事やSNS・広告文を数秒で作成
                    h5.mb-4 AIライティングアシスタント
                    a.btn.btn-warning.btn-lg.m-2(href="/user/signup", role="button", style="font-size:1em;") まずは無料で使ってみる
    div.container.pt-5(style="overflow-x:hidden;")
        //- Section: Features
        section 
            #icon-grid.container.px-4.py-5
                h1.display-4.fw-bold.generate-text(data-context="この見出しに代わる見出しを書いてほしい：ChatGPTよりも効率よくコンテンツ作成を進めましょう")
                .generate-text-fail(style="display:none")
                    h1.display-4.fw-bold ChatGPTよりも効率よく
                    h1.display-4.fw-bold コンテンツ作成を進めましょう
                h6.fw-normal ブログ記事や広告文など100種類以上の効果的な日本語テンプレートを備えており、必要なジャンルのコンテンツをすぐに作成することが可能です。
                .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-3.g-4.py-5
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-pencil-alt(style='width: 1.75em; height: 1.75em;')   
                        div
                            h4.fw-bold.mb-0 SEOブログ作成
                            p ChatGPTを使用して最適化されたブログ記事を作成します。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-twitter(style='width: 1.75em; height: 1.75em;')   
                        div
                            h4.fw-bold.mb-0 Twitter投稿アシスタント
                            p 効果的なツイートを作成するための提案とサポート。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-search-dollar(style='width: 1.75em; height: 1.75em;')   
                        div
                            h4.fw-bold.mb-0 キーワード最適化
                            p 人気のキーワードを取得してコンテンツを最適化します。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-chart-line(style='width: 1.75em; height: 1.75em;')   
                        div
                            h4.fw-bold.mb-0 パフォーマンス分析
                            p 投稿の効果を分析して最適な戦略を見つけます。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-robot(style='width: 1.75em; height: 1.75em;')   
                        div
                            h4.fw-bold.mb-0 AI対話
                            p ユーザーの要求に応じてChatGPTと対話します。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-images(style='width: 1.75em; height: 1.75em;')
                        div
                            h4.fw-bold.mb-0 ビジュアルコンテンツ提案
                            p 画像やグラフィックを最適化するための提案。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-share-alt(style='width: 1.75em; height: 1.75em;')
                        div
                            h4.fw-bold.mb-0 ソーシャルメディア統合
                            p 一つのプラットフォームで複数のソーシャルメディアに投稿。
                    .col.d-flex.align-items-start
                        i.bi.text-muted.flex-shrink-0.me-3.fa.fa-cogs(style='width: 1.75em; height: 1.75em;')
                        div
                            h4.fw-bold.mb-0 カスタマイズ設定
                            p ユーザーのニーズに合わせてアプリをカスタマイズ。

        hr.my-5
        //- Section: Content
        section
            div.row
                div.col-md-6.gx-5.mb-4
                    div.bg-image.hover-overlay.ripple.shadow-2-strong.rounded-5(data-mdb-ripple-color="light")
                        img.img-fluid(src="")
                        a(href="#!")
                            div.mask(style="background-color: rgba(251, 251, 251, 0.15);")
                div.col-md-6.gx-5.mb-4
                    h4.fw-bold.display-4  ChatGPTよりも効率よく
                    h4.fw-bold.display-4 コンテンツ作成を進めましょう
                    p.text-muted
                        | ブログ記事や広告文など100種類以上の効果的な日本語テンプレートを備えており、必要なジャンルのコンテンツをすぐに作成することが可能です。
                    p.strong セキュアで信頼性があります
                    p.text-muted
                        | 当社のサービスはセキュリティに優れており、個人情報や機密データは厳重に保護されます。安心してご利用いただけます。
        hr.my-5
        //- Section: Content
        section
            div.row
                div.col-md-6.gx-5.mb-4.order-md-2
                    div.bg-image.hover-overlay.ripple.shadow-2-strong.rounded-5(data-mdb-ripple-color="light")
                        img.img-fluid(src="")
                        a(href="#!")
                            div.mask(style="background-color: rgba(251, 251, 251, 0.15);")
                div.col-md-6.gx-5.mb-4
                    h4.fw-bold.display-4  AIエディターで
                    h4.fw-bold.display-4 長文コンテンツを作成
                    p.text-muted
                        | ブログ記事や広告文など100種類以上の効果的な日本語テンプレートを備えており、必要なジャンルのコンテンツをすぐに作成することが可能です。
                    p.strong セキュアで信頼性があります
                    p.text-muted
                        | 当社のサービスはセキュリティに優れており、個人情報や機密データは厳重に保護されます。安心してご利用いただけます。
        hr.my-5
        //- Section: Content
        section.text-center
            h4.mb-5.strong 多様な機能があります
            div.row
                div.col-lg-4.col-md-12.mb-4
                    div.card
                        div.bg-image.hover-overlay.ripple(data-mdb-ripple-color="light")
                            img.img-fluid(src="https://mdbootstrap.com/img/new/standard/nature/184.jpg")
                            a(href="#!")
                                div.mask(style="background-color: rgba(251, 251, 251, 0.15);")
                        div.card-body
                            h5.card-title 契約書作成
                            p.card-text
                                | クラウドサインでは簡単に契約書を作成できます。カスタマイズ可能なテンプレートを使用して、手間なく契約内容を記入できます。
                            a.btn.btn-primary 詳細を見る

                div.col-lg-4.col-md-6.mb-4
                    div.card
                        div.bg-image.hover-overlay.ripple(data-mdb-ripple-color="light")
                            img.img-fluid(src="https://mdbootstrap.com/img/new/standard/nature/023.jpg")
                            a(href="#!")
                                div.mask(style="background-color: rgba(251, 251, 251, 0.15);")
                        div.card-body
                            h5.card-title 署名の管理
                            p.card-text
                                | クラウドサインでは電子署名を簡単に管理できます。複数の参加者との契約にも対応しています。
                            a.btn.btn-primary 詳細を見る

                div.col-lg-4.col-md-6.mb-4
                    div.card
                        div.bg-image.hover-overlay.ripple(data-mdb-ripple-color="light")
                            img.img-fluid(src="https://mdbootstrap.com/img/new/standard/nature/111.jpg")
                            a(href="#!")
                                div.mask(style="background-color: rgba(251, 251, 251, 0.15);")
                        div.card-body
                            h5.card-title 安全性と信頼性
                            p.card-text
                                | クラウドサインでは個人情報の保護に力を入れています。安心して大切な契約を行いましょう。
                            a.btn.btn-primary 詳細を見る
        hr.my-5
        //- Section: Pricing
        section.text-center
            .pricing-header.p-3.pb-md-4.mx-auto.text-center
                h1.display-4.fw-bold 利用規模に合わせた
                h1.display-4.fw-bold 最適なプランを用意しています。
                p.fs-5.text-muted Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
        include subscription/plan

