#sidebarMenu.bg-white.position-fixed.col-md-2.p-0.shadow(style="right:10px;z-index:10;width:60px; overflow-y: auto; max-height: 100vh;display:none")
  .position-sticky
    .list-group.list-group-flush
      li#sidebarMenuToggle.list-group-item.list-group-item-action.p-3.ripple.toggler.align-items-center.d-none(type="button")
        i.fas.fa-bars
        .hide-text.mx-2
          | RAKUBUN
      li.list-group-item.list-group-item-action.p-3(data-bs-toggle="tooltip" title="Setting")
        if user
          a(href="/user/setting") 
            i.fas.fa-user-circle
            span.hide-text.ms-3 Account
      li.list-group-item.list-group-item-action.p-3.ripple(data-bs-toggle="tooltip" title="Upgrade")
        a(href='/payment/subscription')
          i.fas.fa-arrow-up
          span.hide-text.ms-3=user && user.subscriptionId?"Subscription":"Upgrade" 
      li.list-group-item.list-group-item-action.p-3.ripple(data-bs-toggle="tooltip" title="Contact Us")
        a(href="/contact") 
          i.fas.fa-question
          span.hide-text.ms-3 Contact Us
      li.list-group-item.list-group-item-action.p-3(data-bs-toggle="tooltip" title="Logout")
        if user
          a(href='#', onclick='logout()') 
            i.fas.fa-sign-out-alt
            span.hide-text.ms-3 Logout
        else
          a(href='/user/login') 
            i.fas.fa-sign-in-alt
            span.hide-text.ms-3 Login