#sidebarMenu.bg-white.position-fixed.h-100.col-md-2.p-0.shadow(style="z-index:10;width:60px; overflow-y: auto; max-height: 100vh;display:none")
  .position-sticky
    .list-group.list-group-flush
      li#sidebarMenuToggle.list-group-item.list-group-item-action.p-3.ripple.toggler.align-items-center.d-none(type="button")
        i.fas.fa-bars
        .hide-text.mx-2
          | RAKUBUN
      li.list-group-item.list-group-item-action.p-3.ripple(data-bs-toggle="tooltip" title="ホーム")
        a(href="/dashboard/") 
          i.fas.fa-home
          span.hide-text.ms-3 ホーム
      li.list-group-item.list-group-item-action.p-3.ripple(data-bs-toggle="tooltip" title="動画の要約")
        a(href="/dashboard/app/1/history") 
          i.fas.fa-video
          span.hide-text.ms-3 動画の要約
      li.list-group-item.list-group-item-action.p-3.ripple(data-bs-toggle="tooltip" title="お問い合わせ")
        a(href="#") 
          i.fas.fa-question
          span.hide-text.ms-3 お問い合わせ
      li.list-group-item.list-group-item-action.p-3(class=user && user.subscriptionId?"bg-success":"bg-primary",data-bs-toggle="tooltip" title="アップグレード")
        a.ripple.text-white.w-100(href='/payment/subscription')
          i.fas.fa-arrow-up
          span.hide-text.ms-3 マイメンバーシップ
      li.list-group-item.list-group-item-action.p-3(data-bs-toggle="tooltip" title="設定")
        if user
          a(href="/user/setting") 
            i.fas.fa-cog
            span.hide-text.ms-3 設定
      li.list-group-item.list-group-item-action.p-3(data-bs-toggle="tooltip" title="ログアウト")
        if user
          a(href='#', onclick='logout()') 
            i.fas.fa-sign-out-alt
            span.hide-text.ms-3 ログアウト
        else
          a(href='/user/login') 
            i.fas.fa-sign-in-alt
            span.hide-text.ms-3 ログイン