#sidebarMenu.bg-white.position-fixed.col-md-2.p-0.shadow(style="right:0;z-index:10;width:60px; overflow-y: auto; max-height: 100vh;display:none")
  .position-sticky
    .list-group.list-group-flush
      li#sidebarMenuToggle.list-group-item.list-group-item-action.p-3.ripple.toggler.align-items-center.d-none(type="button", onclick='toggleSidebar()')
        i.fas.fa-bars
        .hide-text.mx-2
          | RAKUBUN
      li.list-group-item.list-group-item-action.p-3.text-primary(data-bs-toggle="tooltip" title="Setting", onclick="window.location.href='/user/setting'")
        if user
          i.fas.fa-user-circle
          span.hide-text.ms-3 Account
      li.list-group-item.list-group-item-action.p-3.ripple.text-primary(data-bs-toggle="tooltip" title="Upgrade", onclick="window.location.href='/payment/subscription'")
        i.fas.fa-arrow-up
        span.hide-text.ms-3=user && user.subscriptionId?"Subscription":"Upgrade"
      li.list-group-item.list-group-item-action.p-3.ripple.text-primary(data-bs-toggle="tooltip" title="Contact Us", onclick="window.location.href='/contact'")
        i.fas.fa-question
        span.hide-text.ms-3 Contact Us
      li.list-group-item.list-group-item-action.p-3(data-bs-toggle="tooltip" title="Logout", onclick="logout()")
        if user
          i.fas.fa-sign-out-alt.text-danger
          span.hide-text.ms-3.text-danger Logout
        else
          a(href='/user/login') 
            i.fas.fa-sign-in-alt.text-primary
            span.hide-text.ms-3.text-primary Login
