main#dashboard {
  display:none;
}
#sidebarMenu.open{
  width: auto !important;
}
.generate-text{
  opacity: 0.8;
  cursor:pointer;
}
.hide-text{
  font-size: 12px;
  display:none;
}
#video-holder i,#video-holder.spinner-border {
  color: black !important;
}
#video-holder .card-title, #mobile-toolbar .card-title{
  color:white;
}
.done.download-button i {
  color:red !important;
}
.card.info-container .download-button i,.card.info-container .spinner-border  {
  color:white ;
}
.accordion-item h2 button {
  font-weight: bold;
  font-size: 18px;
}
.contain-text {
  height: 30px;  /* Or whatever height you desire */
  padding: 10px; /* Or whatever padding you desire */
  overflow: hidden; /* In case the text exceeds the fixed height */
}
.gray-gradient {
  background: linear-gradient(to bottom, #d9d9d9, #8a8b8e);
}

.card-clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card-img-top {
    height: 200px; /* Adjust the desired height */
  }
  .alert{
    margin-top: 1rem ;
    left: 50% ;
    transform: translateX(-50%) ;
    border-radius: 0 !important;
  }
  .horizontal-scrolling-list {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrolling-list .item {
    display: inline-block;
    width: 200px;  /* or any desired width */
    height: 100px; /* or any desired height */
    margin-right: 16px;
    background-color: #e9e9e9;  /* For visualization purposes */
    text-align: center;
    vertical-align: top;
}
.rotate {
  animation: spin 1s linear infinite;
}

#slickModal .modal-dialog {
  max-height: 100vh;
  display: inline;
  flex-direction: column;
  justify-content: center;
  border-radius:0;
}
#slickCarousel .slick-slide img {
  height: 100vh;
  object-fit: contain;
}
.slick-prev {
  left: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  opacity: 0;
  position:absolute;
  z-index: 2;
}
.slick-next {
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  opacity: 0;
  position:absolute;
  z-index: 2;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Optional: to hide the scrollbar */
.horizontal-scrolling-list::-webkit-scrollbar {
    display: none;
}
.card.hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
#edit-book input, #edit-book textarea {
  border: none;
  background-color: #fff0;
  width: 100%;
}
#edit-book textarea {
  overflow-y: hidden;  /* Hide vertical scrollbar */
  resize: none;        /* Disable textarea resizing */
}
#video-holder video {
  max-height: 70vh;
}
.top-nav {
  position: sticky;
  top: 0;
  z-index:1000;
}
.rotate-180 {
  animation: rotate180 1s forwards;
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate0 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

li.list-group-item{
  cursor:pointer;
}
.hashtag-inputs input, .chapters-inputs input, .keyword-inputs input{
  min-width: 150px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator hr {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid #000; /* Classic black line, like the best of tuxedos */
  margin: 0 10px; /* A little breathing room, please! */
}

.separator span {
  white-space: nowrap; /* Keep 'Or' from wrapping like a bad gift */
}

/*Chat*/
#message-container{
  height: 100vh;
}
#chat-input-section{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
#chat-input-section .input-group{
  width: 70vw;
}
#chat-input-section input.form-control{
  padding: 20px;
}

.busy .load {
  display: inherit !important;
}
@media (max-width: 992px) {
  .top-nav .navbar {
    padding: 0 !important;
  }
  .top-nav img{
    width: 20px;
  }

}

.container-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  margin: 0 auto;
}
@media (max-width: 768px) {  /* assuming 768px is the breakpoint for mobile view */
    #positionElement { 
      position: absolute !important;
      top: auto !important;
      left: 0 !important;
      right: 0 !important;
      bottom: auto !important;
      transform: none !important;
    }
    .alert{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        transform: none !important;
        margin: 0 !important;
        margin-top: 0 ;
        left: 0 ;
        transform: none ;
    }
    #message-container {
      padding-right: 0 !important;
    }
    #summary{
      width:100% !important;
    }
    #video-container{
      width:100%
    }

    #video-container{
      position: sticky !important;
      z-index: 2;
      top: 0;
      left:0;
      right:0;
      width: 100%;
    }

    #video-holder video {
      max-height: auto !important;
    }
    
  }
  