extends ../dashboard/base

block mainContent
  .container
    .row.justify-content-center.align-items-center.min-vh-100
      .col-md-8
        .card.shadow-lg.border-0.rounded-lg
          .card-body
            h2.text-center.mb-4 企業アカウント登録
            form#enterpriseRegisterForm(method='post', action='/enterprise/register')
              .mb-3
                label(for='companyName', class='form-label') 会社名
                input#companyName.form-control.form-control-lg(name='companyName', type='text', required)
              .mb-3
                label(for='domain', class='form-label') 会社のドメイン（例: example.com）
                input#domain.form-control.form-control-lg(name='domain', type='text', required)
              .mb-3
                label(for='email', class='form-label') メールアドレス
                input#email.form-control.form-control-lg(name='email', type='email', required)
              .mb-3
                label(for='password', class='form-label') パスワード
                input#password.form-control.form-control-lg(name='password', type='password', required)
              .mb-3
                label(for='plan', class='form-label') プランを選択
                select#plan.form-select.form-select-lg(name='plan')
                  option(value='5') 5名の従業員
                  option(value='15') 15名の従業員
                  option(value='30') 30名の従業員
              button.btn.btn-primary.btn-lg.w-100(type='button', id='checkout-button') 登録


    script.
        document.addEventListener("DOMContentLoaded", function() {
            anime({
            targets: '#enterpriseRegisterForm .mb-3',
            translateY: [100, 0],
            opacity: [0, 1],
            delay: anime.stagger(100, {start: 500}),
            easing: 'easeOutExpo'
            });
        });

    script.
        let stripe
        if(window.location.href.indexOf('https://') >= 0){
            stripe = Stripe('pk_live_51PjtRbE5sP7DA1XvCkdmezori9qPGoO21y7yKSVvgkQVyrhWZfHAUkNsjPMnbwpPlp4zzoYsRjn79Ad7XN7HTHcc00UjBA9adF'); // Use your publishable key here
        }else{
            stripe = Stripe('pk_test_51PjtRbE5sP7DA1XvD68v7X7Qj7pG6ZJpQmvuNodJjxc7MbH1ss2Te2gahFAS9nms4pbmEdMYdfCPxFDWHBbu9CxR003ikTnRES'); // Use your publishable key here
        }
        document.getElementById('checkout-button').addEventListener('click', () => {
            const companyName = document.getElementById('companyName').value;
            const domain = document.getElementById('domain').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const plan = document.getElementById('plan').value;
            fetch('/payment/create-enterprise-checkout-session', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ companyName, domain, email, password, plan }),
            })
            .then((response) => response.json())
            .then((session) => stripe.redirectToCheckout({ sessionId: session.id }));
        });
