extends ../dashboard/base

    block mainContent
    .container.d-flex.flex-column.align-items-center.justify-content-center.min-vh-100
        .text-center.animate__animated.animate__fadeInDown
        h1.text-success.mb-4  登録が完了しました！
        p.lead.mb-5
            | 企業アカウントの登録が正常に完了しました。ご登録いただいたメールアドレスに確認メールをお送りしましたので、ご確認ください。
        a.btn.btn-primary.btn-lg.animate__animated.animate__bounceIn(animation-delay='2s') href='/dashboard' ダッシュボードへ移動
