extends ../default

block content
  .container-fluid
    .position-absolute.top-50.start-50.translate-middle#positionElement
      .col
        .card.shadow
          .card-body
            h1.card-title.text-center ログイン
            form(action='/user/login', method='POST')
              .mb-3
                label(for='username', class='form-label') ユーザー名：
                input(type='text', name='username', id='username', class='form-control')
              .mb-3
                label(for='password', class='form-label') パスワード：
                input(type='password', name='password', id='password', class='form-control')
              button(type='submit', class='btn btn-primary btn-block') ログイン
            p.card-text.text-center.mt-3
              | アカウントをお持ちでないですか？ 
              a(href='/user/signup') 新規登録
        .card-text.text-center.mt-3
          | パスワードを忘れた場合は？ 
          br
          a(href='/user/resetpassword') パスワードをリセット
