extends ../default

block content
  .container-fluid
    .position-absolute.top-50.start-50.translate-middle#positionElement
      .col
        .card.shadow
          .card-body
            h1.card-title.text-center Login
            if prelog
              p Verify your email to login
              a#resend-email(href="#" onclick=`resendSigninMail('${userID}')`) Resend email
            else
              form(action='/user/login', method='POST')
                .mb-3
                  label(for='email', class='form-label') Email:
                  input(type='email', name='email', id='email', class='form-control')
                button(type='submit', class='btn btn-primary btn-block') Login
