extends ../default

block content
  .container-fluid
    .position-absolute.top-50.start-50.translate-middle#positionElement
      .col
        .card.shadow
          .card-body
            h1.card-title.text-center パスワードをリセット
            if !resetToken
              form(action='/user/resetpassword', method='POST')
                  label(for='email', class='form-label') メールアドレス：
                  input(type='text', name='email', id='email', class='form-control')
                  button(type='submit', class='btn btn-primary btn-block') パスワードをリセット
            else
              #updateProfile 
                form
                  input(type='hidden', name='resetToken', value=resetToken)
                  .form-group.col-12
                      label(for='userPassword') 新しいパスワード
                      input#userPassword.form-control(name="userPassword", type='password', placeholder='新しいパスワードを入力してください', required)
                  .form-group.col-12
                      label(for='userPasswordVerification') 新しいパスワード確認
                      input#userPasswordVerification.form-control(name="userPasswordVerification", type='password', placeholder='新しいパスワードを再入力してください', required)
                  button.btn.btn-primary.my-4(type='submit') 送信
