extends ../default

block content
  .container-fluid
    .position-absolute.top-50.start-50.translate-middle#positionElement
      .col
        .card.shadow
          .card-body
            h1.card-title.text-center Reset Password
            if !resetToken
              form(action='/user/resetpassword', method='POST')
                  label(for='email', class='form-label') Email:
                  input(type='text', name='email', id='email', class='form-control')
                  button(type='submit', class='btn btn-primary btn-block') Reset Password
            else
              #updateProfile 
                form
                  input(type='hidden', name='resetToken', value=resetToken)
                  .form-group.col-12
                      label(for='userPassword') New Password
                      input#userPassword.form-control(name="userPassword", type='password', placeholder='Enter your new password', required)
                  .form-group.col-12
                      label(for='userPasswordVerification') Confirm New Password
                      input#userPasswordVerification.form-control(name="userPasswordVerification", type='password', placeholder='Re-enter your new password', required)
                  button.btn.btn-primary.my-4(type='submit') Submit
