<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>AI WORK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="./assets/styles/main.css">
    <!-- Main JS -->
    <script src="./assets/js/main.js" defer></script>
    <!-- Animation Script -->
    script.
        document.addEventListener('DOMContentLoaded', function() {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.remove('hidden'); // Remove the hidden class
                        entry.target.classList.add('animate__animated');
                        entry.target.classList.add(entry.target.dataset.animate); // Apply the animation class
                        if(entry.target.dataset.delay){
                            entry.target.classList.add(entry.target.dataset.delay); // Apply delay if present
                        }
                        observer.unobserve(entry.target); // Stop observing after animation
                    }
                });
            }, {
                threshold: 0.1 // Adjust the threshold as needed
            });

            document.querySelectorAll('[data-animate]').forEach(element => {
                element.classList.add('hidden'); // Add the hidden class initially
                observer.observe(element);
            });
        });
</head>
<body>
    <header data-animate="animate__fadeInDown" data-delay="animate__delay-1s">
        <div class="header-logo">
            <div data-animate="animate__fadeInLeft" data-delay="animate__delay-0.5s">
                <img class="logo" src="assets/images/aiwork-logo.png" alt="">
            </div>
            <div class="plan-label" data-animate="animate__fadeInRight" data-delay="animate__delay-0.7s">料金プラン</div>
            <div class="plan-label" data-animate="animate__fadeInRight" data-delay="animate__delay-0.9s">特徴</div>
        </div>
        <div>
            <button class="button-free" data-animate="animate__bounceIn" data-delay="animate__delay-1s">無料で試してみる</button>
            <button class="button-download" data-animate="animate__bounceIn" data-delay="animate__delay-1.2s">資料ダウンロード</button>
        </div>
        <nav class="nav-burger" data-animate="animate__fadeIn" data-delay="animate__delay-1.4s">
            <ul class="nav-links">
                <li><a href="#">料金プラン</a></li>
                <li><a href="#">特徴</a></li>
                <li><a href="#">無料で試してみる</a></li>
                <li><a href="#">資料ダウンロード</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    
    <section class="section-ai" data-animate="animate__fadeInUp" data-delay="animate__delay-0.5s">
        <div class="ai-msg">
            <div data-animate="animate__zoomIn" data-delay="animate__delay-0.3s"><img src="./assets/images/ai-msg1.png" ></div>
            <div data-animate="animate__zoomIn" data-delay="animate__delay-0.5s"><img src="./assets/images/ai-msg2.png" ></div>
            <div data-animate="animate__zoomIn" data-delay="animate__delay-0.7s"><img src="./assets/images/ai-msg3.png" ></div>
            <div data-animate="animate__zoomIn" data-delay="animate__delay-0.9s"><img src="./assets/images/ai-msg4.png" ></div>
            <div data-animate="animate__fadeIn" data-delay="animate__delay-1s"><img src="./assets/images/ai-pc.png" ></div>
        </div>
        <div class="ai-form" data-animate="animate__slideInRight" data-delay="animate__delay-1s">
            <div class="guide-trial-form">
                <div class="form-alert">
                    <img src="./assets/images/trial-alert.png" alt="">
                </div>
                <div class="form-title">
                    <span>お申し込みはこちらから</span>
                </div>
                <div class="form-item">
                    <div class="form-item-title">会社名<span>*</span></div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-items">
                    <div class="form-item">
                        <div class="form-item-title">姓<span>*</span></div>
                        <div class="form-item-input"><input type="text"></div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-title">名<span>*</span></div>
                        <div class="form-item-input"><input type="text"></div>
                    </div>    
                </div>
                <div class="form-item">
                    <div class="form-item-title">メールアドレス<span>*</span></div>
                    <div class="form-item-subtitle">企業ドメインのアドレスをご記入お願い致します。</div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-item">
                    <div class="form-item-title">電話番号<span>*</span></div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-item-button">
                    <div class="form-item-title">
                        <button data-animate="animate__pulse" data-delay="animate__delay-1s">無料で試してみる</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-feature" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="feature-title" data-animate="animate__fadeInDown" data-delay="animate__delay-0.3s">
            AI WORKの特徴
        </div>
        <div class="feature-cards">
            <div class="feature-card" data-animate="animate__flipInX" data-delay="animate__delay-0.3s">
                <div class="card-content"><img src="./assets/images/feature1.png" alt=""></div>
                <div class="card-content">
                    <p>Teams,Slack,Chatworkとの互換性</p>
                    <p>これらのビジネスチャットツールの切り替えが不要に。<br/>互換性のある連携チャットツールで<br/>円滑なコミュニケーションを実現します。<br/>チャットはもちろんのことビデオ会議、<br/>ファイルの共有等<br/>多彩なコミュニケーションを搭載。</p>
                </div>                
            </div>
            <div class="feature-card" data-animate="animate__flipInX" data-delay="animate__delay-0.5s">
                <div class="card-content"><img src="./assets/images/feature2.png" alt=""></div>
                <div class="card-content">
                    <p>会議の音声をテキストに変換し議事録化</p>
                    <p>mp3をアップロードするだけで、<br/>議事録が作成されます。<br/>平均40分かかっていた<br/>議事録作成時間はわずか10分に短縮。<br/>75%の時間短縮を実現可能。<br/>AI WROKを導入すれば、<br/>自動文字起こしがすぐできます。</p>
                </div>                
            </div>
            <div class="feature-card" data-animate="animate__flipInX" data-delay="animate__delay-0.7s">
                <div class="card-content"><img src="./assets/images/feature3.png" alt=""></div>
                <div class="card-content">
                    <p>高度なセキュリティ対策</p>
                    <p>世界的に信頼されているAWSを使用。<br/>また、常にSSL/TLSの暗号化、<br/>さらにサーバー暗号化で<br/>優れたセキュリティ対策で安全安心に<br/>お使いいただけます。</p>
                </div>                
            </div>
        </div>
        <div class="feature-buttons">
            <button class="button-free" data-animate="animate__fadeInLeft" data-delay="animate__delay-1s">無料で試してみる</button>
            <button class="button-download" data-animate="animate__fadeInRight" data-delay="animate__delay-1.2s">資料ダウンロード</button>
        </div>
    </section>
    
    <section class="section-train" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="section-train1" data-animate="animate__zoomIn" data-delay="animate__delay-0.3s">
            <img src="./assets/images/train1.png" alt="">
        </div>
        <div class="sub-section">
            <div style="width:25%"></div>
            <div class="section-train2 right" style="width:25%" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.5s">
                <p> 社内AIの活用を促したいが、使い方が複雑で なかなか浸透しないのではないか
                </p>
            </div>
        </div>
        <div class="sub-section">
            <div style="width: 53%;"></div>
            <div class="section-train3 left" style="width: 25%;" data-animate="animate__fadeInRight" data-delay="animate__delay-0.7s">
                <p>社内文書が漏洩しないか不安</p>
            </div>
        </div>
        <div class="sub-section">
            <div style="width: 15%;"></div>
            <div class="section-train4 right" style="width: 36%;" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.9s">
                <p>AIを導入したいが、どのシステムが適しているか判断に迷っている</p>
            </div>
        </div>
        <div class="sub-section">
            <div style="width: 52%;"></div>
            <div class="section-train5 left" style="width: 33%;" data-animate="animate__fadeInRight" data-delay="animate__delay-1s">
                <p>Chat GPTが英語ベースであることから、言語の壁を感じている</p>
            </div>
        </div>
    </section>
    
    <section class="section-work" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="work-msg" data-animate="animate__zoomIn" data-delay="animate__delay-0.3s">
            <p>AI WORKは、常に最新の生成AIを採用し、</p>
            <p>最先端の技術を活用することで、</p>
            <p>通常のAIでは対応できない課題にも柔軟に対応。</p>
            <p>もうAI技術のリサーチに時間を割く必要はありません。</p>
            <p>AI WORKが最新技術をあなたのビジネスに提供します。</p>
        </div>
        <div class="work-desc" data-animate="animate__slideInLeft" data-delay="animate__delay-0.5s">
            <p>また、AWSのサーバーを使用しているので、</p>
            <p>Amazonの万全のセキュリティで安心して</p>
            <p>社内文書をアップロードすることができます。</p>
            <p>難しいプロンプトは一切必要ありません。</p>
            <p>すでにカスタマイズされたテンプレートを使用するので社内ルールなどを</p>
            <p>細かく決める必要なく、使用することができます。</p>
        </div>
        <div class="work-desc effect" data-animate="animate__slideInRight" data-delay="animate__delay-1s">
            <div class="pc">
                <p>AI WORKは、豊富なデータに基づく学習能力と優れた応答性により、</p>
                <p>さまざまなビジネスニーズに対応します。</p>
            </div>
            <div class="mobile">
                <p>AI WORKは、豊富なデータに基づく学習</p>
                <p>能力と優れた応答性により、</p>
                <p>さまざまなビジネスニーズに対応します。</p>
            </div>
        </div>
        <div class="work-buttons">
            <button class="button-free" data-animate="animate__bounceIn" data-delay="animate__delay-1s">無料で試してみる</button>
            <button class="button-download" data-animate="animate__bounceIn" data-delay="animate__delay-1.2s">資料ダウンロード</button>
        </div>
    </section>
    
    <section class="section-service" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="service-title" data-animate="animate__fadeInDown" data-delay="animate__delay-0.3s">
            AI WORKの特徴
        </div>
        <div class="service-list">
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-0.3s">
                <div class="service-card-title">議事録作成機能</div>
                <div class="service-card-desc">議事録、日報、提案書などの<br/>ドキュメント作成を素早く作成することができるので<br/>時間が有効に使える。</div>
            </div>
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-0.5s">
                <div class="service-card-title">社内マニュアルをチャットで応答</div>
                <div class="service-card-desc">質問するだけで解決するので、<br/>従業員の満足度が上がる。</div>
            </div>
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-0.7s">
                <div class="service-card-title">メール作成</div>
                <div class="service-card-desc">メールの文章をペーストし、<br/>返信内容を伝えるだけでビジネスメールを5秒で作成。</div>
            </div>
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-0.9s">
                <div class="service-card-title">PDF要約</div>
                <div class="service-card-desc">インプットを効率化でき、<br/>要点を押させて即座にアウトプットができる。</div>
            </div>
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-1s">
                <div class="service-card-title">カスタムテンプレート</div>
                <div class="service-card-desc">100種類以上の社内用テンプレートと<br/>学習済みの賢いAIで<br/>さまざまなコンテンツ作成の負荷を軽減できる。</div>
            </div>
            <div class="service-card" data-animate="animate__zoomIn" data-delay="animate__delay-1.2s">
                <div class="service-card-title">翻訳</div>
                <div class="service-card-desc">高精度なAIライティングアシスタントで、<br/>多言語に対応し明確に簡潔に言いたいことを伝える。</div>
            </div>
        </div>
        <div class="service-msg" data-animate="animate__fadeInUp" data-delay="animate__delay-1s">最先端のAI技術で業務効率や生産性の向上に貢献します
        </div>
        <div class="service-button">
            <button class="service-free-button" data-animate="animate__bounceIn" data-delay="animate__delay-1s">無料で試してみる</button>
            <button class="service-download-button" data-animate="animate__bounceIn" data-delay="animate__delay-1.2s">資料ダウンロード</button>
        </div>
    </section>
    
    <section class="section-price" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="price-title" data-animate="animate__zoomIn" data-delay="animate__delay-0.3s">利用規模に合わせた<br/>最適なプランをご用意しています
        </div>
        <div class="price-list">
            <div class="price-list-title" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.5s">
                <div class="price-list-item"></div>
                <div class="price-list-item">
                    <div class="price-plan">Personal</div>
                    <div class="price-plan-desc">個人利用の方</div>
                    <div class="price-plan-price">¥０/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan">Light</div>
                    <div class="price-plan-desc">個人事業主の方</div>
                    <div class="price-plan-price">¥9,800/月</div>
                </div>
                <div class="price-list-item active" data-animate="animate__flipInY" data-delay="animate__delay-1s">
                    <div class="price-plan">Standard</div>
                    <div class="price-plan-desc">法人利用したい方</div>
                    <div class="price-plan-price">¥29,000/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan">Enterprise</div>
                    <div class="price-plan-desc">部署・部門でご利用される方</div>
                    <div class="price-plan-price">¥50,000/月</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInRight" data-delay="animate__delay-0.7s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">APIリクエスト数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">100回/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1,000回/月</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">5,000回/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.9s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">MP3時間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1時間/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">10時間/月</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">50時間/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInRight" data-delay="animate__delay-1.1s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">期間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">7日間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">無制限</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInLeft" data-delay="animate__delay-1.3s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">利用人数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1名まで</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">3名まで</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">10名まで</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">15名まで</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInRight" data-delay="animate__delay-1.5s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">モデル</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInLeft" data-delay="animate__delay-1.7s">
                <div class="price-list-item">
                    <div class="price-plan-detail title">サポート</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール</div>
                </div>
                <div class="price-list-item active">
                    <div class="price-plan-detail">メール（優先対応）<br/>チャット<br/>電話サポート</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール（優先対応）<br/>チャット<br/>電話サポート</div>
                </div>
            </div>
        </div>
        <div class="price-list price-mobile">
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.3s">
                <div class="price-list-item"></div>
                <div class="price-list-item">
                    <div class="price-plan">Personal</div>
                    <div class="price-plan-desc">個人利用の方</div>
                    <div class="price-plan-price">¥０/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan">Light</div>
                    <div class="price-plan-desc">個人事業主の方</div>
                    <div class="price-plan-price">¥9,800/月</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.5s">
                <div class="price-list-item">
                    <div class="price-plan-detail">APIリクエスト数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">100回/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1,000回/月</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.7s">
                <div class="price-list-item">
                    <div class="price-plan-detail">MP3時間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1時間/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">10時間/月</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.9s">
                <div class="price-list-item">
                    <div class="price-plan-detail">期間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">7日間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.1s">
                <div class="price-list-item">
                    <div class="price-plan-detail">利用人数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">1名まで</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">3名まで</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.3s">
                <div class="price-list-item">
                    <div class="price-plan-detail">モデル</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.5s">
                <div class="price-list-item">
                    <div class="price-plan-detail">サポート</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール</div>
                </div>
            </div>
        </div>
        <div class="price-list price-mobile">
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.3s">
                <div class="price-list-item"></div>
                <div class="price-list-item">
                    <div class="price-plan">Standard</div>
                    <div class="price-plan-desc">法人利用したい方</div>
                    <div class="price-plan-price">¥29,000/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan">Enterprise</div>
                    <div class="price-plan-desc">部署・部門でご利用される方</div>
                    <div class="price-plan-price">¥50,000/月</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.5s">
                <div class="price-list-item">
                    <div class="price-plan-detail">APIリクエスト数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">5,000回/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.7s">
                <div class="price-list-item">
                    <div class="price-plan-detail">MP3時間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">50時間/月</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-0.9s">
                <div class="price-list-item">
                    <div class="price-plan-detail">期間</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">無制限</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.1s">
                <div class="price-list-item">
                    <div class="price-plan-detail">利用人数</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">10名まで</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">15名まで</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.3s">
                <div class="price-list-item">
                    <div class="price-plan-detail">モデル</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">GPT-4o</div>
                </div>
            </div>
            <div class="price-list-title" data-animate="animate__fadeInUp" data-delay="animate__delay-1.5s">
                <div class="price-list-item">
                    <div class="price-plan-detail">サポート</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール（優先対応）<br/>チャット<br/>電話サポート</div>
                </div>
                <div class="price-list-item">
                    <div class="price-plan-detail">メール（優先対応）<br/>チャット<br/>電話サポート</div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-guide" data-animate="animate__fadeIn" data-delay="animate__delay-0.5s">
        <div class="guide-part">
            <div class="guide-trial" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.5s">
                <span>７日間無料トライアル</span>
                <div class="guide-trial-msg">
                    <span>クレジットカードの登録は不要</span>
                </div>
            </div>
            <div class="guide-pc" data-animate="animate__fadeInRight" data-delay="animate__delay-0.7s">
                <img src="./assets/images/pc.png" alt="">
            </div>
        </div>
        <div class="guide-part">
            <div class="guide-trial-form" data-animate="animate__zoomIn" data-delay="animate__delay-1s">
                <div class="form-alert">
                    <img src="./assets/images/trial-alert.png" alt="">
                </div>
                <div class="form-title">
                    <span>お申し込みはこちらから</span>
                </div>
                <div class="form-item">
                    <div class="form-item-title">会社名<span>*</span></div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-items">
                    <div class="form-item">
                        <div class="form-item-title">姓<span>*</span></div>
                        <div class="form-item-input"><input type="text"></div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-title">名<span>*</span></div>
                        <div class="form-item-input"><input type="text"></div>
                    </div>    
                </div>
                <div class="form-item">
                    <div class="form-item-title">メールアドレス<span>*</span></div>
                    <div class="form-item-subtitle">企業ドメインのアドレスをご記入お願い致します。</div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-item">
                    <div class="form-item-title">電話番号<span>*</span></div>
                    <div class="form-item-input"><input type="text"></div>
                </div>
                <div class="form-item-button">
                    <div class="form-item-title">
                        <button data-animate="animate__pulse" data-delay="animate__delay-1s">無料で試してみる</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer data-animate="animate__fadeInUp" data-delay="animate__delay-1s">
        <div class="company-logo">
            <img src="./assets/images/aiwork-logo.png" alt="">
        </div>
        <div class="company-link">
            <div class="sub-link" data-animate="animate__fadeInLeft" data-delay="animate__delay-0.5s">
                <ul>
                    <li><a href="#">サービス概要</a></li>
                    <li><a href="#">ソリューション</a></li>
                    <li><a href="#">料金プラン</a></li>
                    <li><a href="#">よくあるご質問</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                    <li><a href="#">資料ダウンロード</a></li>
                </ul>
            </div>
            <div class="sub-link" data-animate="animate__fadeInRight" data-delay="animate__delay-0.7s">
                <ul>
                    <li><a href="#">利用規約</a></li>
                    <li><a href="#">プライバシーポリシー</a></li>
                    <li><a href="#">特定商取引法に基づく表記</a></li>
                    <li><a href="#">運営会社</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <p class="version">Copyright © 2024 AI WORK Co.Ltd All Rights Reserved.</p>
</body>
</html>
