extends ../dashboard/base

block mainContent
  h1.display-5.mb-4.fw-bold テキスト比較
  .row.row-cols-1.row-cols-md-2.pe-0
    .col.bg-white.p-3
      h6 入力
      hr.mb-4
      form#compare.default
        .form-group.my-3
          label(for='input1') テキスト 1
          textarea#input1.form-control(placeholder='最初の値を入力してください。')
        .form-group.my-3
          label(for='input2') テキスト 2
          textarea#input2.form-control(placeholder='二つ目の値を入力してください。')
        .my-3
          button.btn.btn-primary.w-100(type='submit') 
            i.fas.fa-paper-plane.me-3
            span.content| 生成する
    .col.p-3
      h6 生成結果
      hr.mb-4
      #result
      #outputTemp.d-none
      if userOpenaiDocs || userOpenaiDocs.length  > 0
        for doc of userOpenaiDocs
          if doc.completion
            for item of doc.completion
              .card.mb-3(data-id=doc._id)
                .card-top.p-3.d-flex.align-items-center.justify-content-between
                  .tools.d-flex.align-items-center
                    badge.btn.tool-button.tool-button-copy.mx-2(data-toggle="tooltip" title="コピー")
                      i.fas.fa-copy
                  .text-end.text-sm.text-muted(style="font-size:12px")
                    .custom-date(data-value=doc.prompt_time)
                .card-body 
                  p.convertToHTML #{item}
