body {
    font-family: 'Noto Sans JP', sans-serif !important;
}

button {
    font-family: 'Noto Sans JP', sans-serif !important;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0px;
    height: 50px;
}

header .header-logo {
    display: flex;
}

header .logo {
    width: auto;
    height: 100%;
}

header .plan-label {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

header .button-free {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #243496;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
}

header .button-download {
    text-align: center;
    color: #243496;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
}

.nav-burger {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hamburger Menu Styles */
.burger {
    display: none;
    cursor: pointer;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background-color: #294094;
    margin: 5px;
    transition: all 0.3s ease;
}

.section-ai {
    width: 80%;
    margin: auto;
    background-image: url("../images/ai-back.png");
    background-size: 100% 100%;
    height: 900px;
    display: flex;
}

.section-ai .ai-msg {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-ai .ai-msg div {
    margin-left: 5%;
}

.section-ai .ai-msg div img {
    width: 100%;
}

.section-ai .ai-msg div:nth-child(1) {
    margin-bottom: 30px;
}

.section-ai .ai-msg div:nth-child(2) {
    margin-bottom: 30px;
    background-color: #FFFFFF;
    padding: 10px 5px;
}

.section-ai .ai-msg div:nth-child(3) {
    margin-bottom: 30px;
    background-color: #FFFFFF;
    padding: 10px 5px;
}

.section-ai .ai-msg div:nth-child(4) {
    margin-bottom: 50px;
    background-color: #FFFFFF;
    padding: 10px 5px;
}

.section-ai .ai-form {
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-ai .ai-form .guide-trial-form {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #1F1F1F;
    text-align: center;
    padding: 30px 50px;
}

.section-ai .ai-form .form-alert {
    width: auto;
    margin-bottom: 20px;
}

.section-ai .ai-form .form-alert img {
    width: auto;
}

.section-ai .ai-form .form-title {
    font-size: 30px;
    color: #385AD5;
    margin-bottom: 20px;
}

.section-ai .ai-form .form-item {
    text-align: left;
    margin-bottom: 40px;
}

.section-ai .ai-form .form-items {
    display: flex;
    width: 100%;
}

.section-ai .ai-form .form-items .form-item:nth-child(1) {
    width: 50%;
    padding-right: 15px;
}

.section-ai .ai-form .form-items .form-item:nth-child(2) {
    width: 50%;
    padding-left: 15px;
}

.section-ai .ai-form .form-item-title {
    font-size: 16px;
    color: #686868;
    padding: 0px 5px 5px 5px;
}

.section-ai .ai-form .form-item-subtitle {
    font-size: 14px;
    color: #BEBEBE;
    padding: 0px 5px 5px 5px;
}

.section-ai .ai-form .form-item-title span {
    color: red;
}

.section-ai .ai-form .form-item-input input {
    line-height: 40px;
    background-color: #F6F8FA;
    border-radius: 5px;
    border: 1px solid RGBA(230, 230, 230, 1);
    width: 100%;
}

.section-ai .ai-form .form-item-button {
    text-align: center;
}

.section-ai .ai-form .form-item-button button {
    background-color: #E17526;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    padding: 15px 30px;
}

.section-feature {
    width: 80%;
    padding: 90px 0px;
    margin: auto;
    /* height: 500px; */
}

.section-feature .feature-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    color: #474747;
}

.section-feature .feature-cards {
    display: flex;
    justify-content: center;
}

.section-feature .feature-card {
    width: 30%;
    text-align: center;
    border: 1px solid #89898982;
    background-color: #FFFFFF;
    padding: 60px 0 20px;
    margin: 0px 15px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.section-feature .feature-card .card-content {
    padding: 0px 20px;
}

.section-feature .feature-card .card-content:nth-child(1) {
    height: 80px;
}

.section-feature .feature-card .card-content img {
    width: 100%;
    max-width: fit-content;
}

.section-feature .feature-card .card-content p:nth-child(1) {
    font-size: 20px;
    color: #294094;
    height: 65px;
}

.section-feature .feature-card .card-content p:nth-child(2) {
    font-size: 16px;
    color: #294094;
}

.section-feature .feature-buttons {
    margin-top: 80px;
    text-align: center;
}

.section-feature .feature-buttons .button-free {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #243496;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
}

.section-feature .feature-buttons .button-download {
    text-align: center;
    color: #243496;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
    margin-left: 30px;
}

.section-train {
    background-image: url("../images/train-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1603px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-train img {
    width: 100%;
    max-width: fit-content;
}

.section-train .sub-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 110px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.section-train div p {
    margin: 0;
}

.section-train .right {
    background-image: url(../images/train-right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-train .left {
    background-image: url(../images/train-left.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-train1 {
    padding-top: 100px !important;
    padding-bottom: 0px !important;
    text-align: center;
    margin-top: 0 !important;
}

.section-train2 {
    padding: 25px 65px 40px 40px !important;
}

.section-train3 {
    padding: 25px 0 30px 0 !important;
}

.section-train4 {
    padding: 30px 10px 50px 0 !important;
}

.section-train5 {
    padding: 30px 0 30px 20px !important;
}


.section-work {
    background-image: url("../images/work-bg.png");
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    padding: 30px 0px;
}

.section-work .work-msg {
    font-size: 30px;
    color: #151515;
}

.section-work .work-desc {
    padding-top: 30px;
    font-size: 20px;
    color: #151515;
}

.section-work .work-desc.effect p {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    color: black;
    text-shadow: 2px 2px 4px white;
    background-image: linear-gradient(transparent 60%, #d7cd31);
}

.section-work .work-desc.effect .mobile {
    display: none;
}

.section-work .work-buttons {
    padding: 60px 0px;
}

.section-work .work-buttons .button-free {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #243496;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
}

.section-work .work-buttons .button-download {
    text-align: center;
    color: #243496;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 5px 20px;
    margin-left: 30px;
}

.section-service {
    padding: 90px 0 10px;
    background-image: url("../images/woman.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-service .service-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.section-service .service-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.section-service .service-card {
    width: 26%;
    margin: 0px 20px;
    text-align: center;
    border: 1px solid #89898982;
    background-color: #FFFFFF;
    padding: 20px 10px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.section-service .service-card .service-card-title {
    font-size: 20px;
    color: #243496;
    margin-bottom: 30px;
    font-weight: bold;
}

.section-service .service-card .service-card-desc {
    font-size: 16px;
    color: #151515;
    line-height: 30px;
}

.section-service .service-msg {
    font-size: 40px;
    color: #5E81F6;
    text-align: center;
    padding: 0px 20px;
}

.section-service .service-button {
    text-align: center;
    margin-top: 80px;
}

.section-service .service-button .service-free-button {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #243496;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 10px 30px;
}

.section-service .service-button .service-download-button {
    text-align: center;
    color: #243496;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #243496;
    padding: 10px 30px;
    margin-left: 30px;
}

.section-price {
    padding: 90px 0px;
}

.section-price .price-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.section-price .price-list .price-list-title:first-child .price-list-item {
    padding-top: 40px;
}

.section-price .price-mobile {
    display: none;
}

.section-price .price-list-title {
    display: flex;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #898989;
}

.section-price .price-list-title .price-list-item {
    width: 20%;
}

.section-price .price-list-title .price-list-item.active {
    background-color: #fcfcfc;
}

.section-price .price-list-title .price-list-item .price-plan {
    font-size: 28px;
    color: #012DD6;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.section-price .price-list-title .price-list-item .price-plan-desc {
    font-size: 13px;
    color: #898989;
    text-align: center;
}

.section-price .price-list-title .price-list-item .price-plan-price {
    font-size: 42px;
    color: #151515;
    text-align: center;
}

.section-price .price-list-title .price-list-item .price-plan-detail {
    font-size: 20px;
    color: #151515;
    text-align: center;
    padding: 30px 0px;
    font-weight: 700;
}

.section-price .price-list-title .price-list-item .price-plan-detail.title {
    font-weight: 900;
}

.section-guide {
    display: flex;
    padding: 0px 10%;
    height: 930px;
    background-color: #B6C6FF;
}

.section-guide .guide-part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-guide .guide-part .guide-trial {
    border-radius: 10px;
    border: 10px solid #5E81F6;
    width: 65%;
    background-color: #5E81F6;
    text-align: center;
    margin-bottom: 60px;
}

.section-guide .guide-part .guide-trial span {
    color: #FFFFFF;
    font-size: 30px;
}

.section-guide .guide-part .guide-trial .guide-trial-msg {
    background-color: #FFFFFF;
    padding: 45px 5px;
    margin-top: 20px;
}

.section-guide .guide-part .guide-trial .guide-trial-msg span {
    color: #151515;
}

.section-guide .guide-part img {
    width: 100%;
}

.section-guide .guide-part .guide-trial-form {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #1F1F1F;
    text-align: center;
    padding: 30px 50px;
}

.section-guide .guide-part .form-alert {
    width: auto;
    margin-bottom: 20px;
}

.section-guide .guide-part .form-alert img {
    width: auto;
}

.section-guide .guide-part .form-title {
    font-size: 30px;
    color: #385AD5;
    margin-bottom: 20px;
}

.section-guide .guide-part .form-item {
    text-align: left;
    margin-bottom: 40px;
}

.section-guide .guide-part .form-items {
    display: flex;
    width: 100%;
}

.section-guide .guide-part .form-items .form-item:nth-child(1) {
    width: 50%;
    padding-right: 15px;
}

.section-guide .guide-part .form-items .form-item:nth-child(2) {
    width: 50%;
    padding-left: 15px;
}

.section-guide .guide-part .form-item-title {
    font-size: 16px;
    color: #686868;
    padding: 0px 5px 5px 5px;
}

.section-guide .guide-part .form-item-subtitle {
    font-size: 14px;
    color: #BEBEBE;
    padding: 0px 5px 5px 5px;
}

.section-guide .guide-part .form-item-title span {
    color: red;
}

.section-guide .guide-part .form-item-input input {
    line-height: 40px;
    background-color: #F6F8FA;
    border-radius: 5px;
    border: 1px solid RGBA(230, 230, 230, 1);
    width: 100%;
}

.section-guide .guide-part .form-item-button {
    text-align: center;
}

.section-guide .guide-part .form-item-button button {
    background-color: #E17526;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    padding: 15px 30px;
}

footer {
    height: 335px;
    background-color: #FFFFFF;
    color: #151515;
    display: flex;
}

footer .company-logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .company-logo img {
    width: 50%;
    max-width: 50%;
    height: fit-content;
}

footer .company-link {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: start;
}

footer .company-link .sub-link {
    width: 40%;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    justify-content: space-between;
}

footer .company-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer .company-link ul li {
    margin: 5px 0;
}

footer .company-link ul li a {
    color: #151515;
    text-decoration: none;
}

footer .company-link ul li a:hover {
    color: #6c2ffa;
}

.version {
    text-align: center;
}

@media (max-width: 1366px) {
    .sub-section {
        font-size: 15px !important;
    }

    .section-train4 {
        padding: 20px 25px 35px 15px !important;
    }

    .section-train5 {
        padding: 30px 20px 30px 20px !important;
    }
}

@media (max-width: 1024px) {
    header {
        width: 90%;
    }

    .section-train2 {
        width: 30% !important;
    }

    .section-train3 {
        width: 30% !important;
    }

    .section-train4 {
        width: 39% !important;
    }

    .section-train5 {
        padding: 20px 20px 20px 40px !important;
    }

    .section-ai {
        width: 90%;
    }

    .section-ai .ai-form .guide-trial-form {
        padding: 30px 30px;
    }

    .section-ai .ai-form .form-alert img {
        width: 100%;
    }

    .section-service .service-card {
        width: 40%;
    }

    .section-price .price-list-title {
        width: 85%;
    }

    .section-price .price-list-title .price-list-item .price-plan-desc {
        height: 35px;
    }

    .section-price .price-list-title .price-list-item .price-plan-price {
        font-size: 28px;
        color: #151515;
        text-align: center;
    }

    .section-guide .guide-part .guide-trial-form {
        padding: 30px 30px;
    }

    .section-guide .guide-part .form-alert img {
        width: 100%;
    }

    .section-work .work-desc.effect p  {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    header {
        width: 80%;
    }

    .section-train2 {
        width: 40% !important;
    }

    .section-train3 {
        width: 38% !important;
    }

    .section-train4 {
        width: 65% !important;
    }

    .plan-label {
        display: none !important;
    }

    header .button-free {
        display: none;
    }

    header .button-download {
        display: none;
    }

    .nav-burger {
        display: block;
    }

    .nav-links {
        position: fixed;
        padding-top: 15%;
        right: 0px;
        height: 100vh;
        top: -2vh;
        background-color: #555555;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-inline-start: 0px;
        font-size: 20px;
    }
    
    .nav-links li {
        opacity: 0;
        padding: 5px 0px;
    }
    
    .burger {
        display: block;
    }

    .section-ai {
        height: auto;
        flex-direction: column;
    }
    
    .section-ai .ai-msg {
    	width: 100%;
    	padding-top: 50px;
    }
    
    .section-ai .ai-msg div {
	    margin: 0px 5%;
	}
	
	.section-ai .ai-form {
		padding: 50px 0px;
		width: 100%;
		justify-content: center;
	}
	
	.section-feature .feature-cards {
		height: auto;
        flex-direction: column;
        align-items: center;
	}
	
	.section-feature .feature-card {
		width: 100%;
		margin-bottom: 30px;
	}

    .section-work .work-desc img {
        width: 100%;
        max-width: fit-content;
    }

    .section-service .service-card {
        width: 37%;
    }

    .section-price .price-list-title {
        width: 95%;
    }

    .section-price .price-list-title .price-list-item .price-plan-desc {
        height: 45px;
    }

    .section-price .price-list-title .price-list-item .price-plan-price {
        font-size: 25px;
        color: #151515;
        text-align: center;
    }

    .section-guide {
        height: auto;
        flex-direction: column;
    }
    
    .section-guide .guide-part {
    	width: 100%;
    	padding: 30px 0px;
    }
	
	.section-guide .guide-trial-form {
		padding: 50px 0px;
		width: 100%;
		justify-content: center;
        margin-bottom: 30px;
	}
	
    footer {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }
    
    footer .company-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    footer .company-logo img {
        width: 60%;
        max-width: 60%;
    }
    
    footer .company-link {
        width: 100%;
        font-size: 16px;
        justify-content: center;
        flex-direction: column;
    }
    
    footer .company-link .sub-link {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    footer .company-link .sub-link ul {
        align-items: center;
        margin-bottom: 20px;
    }
    
    footer .company-link ul li {
        margin: 5px 0;
    }
    
    .version {
        font-size: 14px;
    }

    .section-price .price-list-title .price-list-item .price-plan-detail {
        font-size: 17px;
    }

    .section-work .work-desc.effect p {
        font-size: 23px;
    }
}

@media (max-width: 500px) {
    .nav-links {
        width: 50%;
    }

    .section-train img {
        width: 95%;
    }

    .sub-section div:first-child {
        display: none;
    }

    .section-train2 {
        width: 95% !important;
    }

    .section-train3 {
        width: 95% !important;
    }

    .section-train4 {
        width: 95% !important;
    }

    .section-train5 {
        width: 95% !important;
    }

    .section-feature .feature-buttons {
        display: flex;
        flex-direction: column;
    }

    .section-feature .feature-buttons .button-download {
        text-align: center;
        color: #243496;
        font-size: 18px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 2px solid #243496;
        padding: 5px 20px;
        margin-top: 10px;
    }

    .section-feature .feature-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-feature .feature-buttons .button-download {
        margin: 10px 0 0 0;
    }

    .section-work .work-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-work .work-buttons .button-download {
        margin: 10px 0 0 0;
    }

    .section-service .service-card {
        width: 100%;
    }

    .section-service .service-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-service .service-button .service-download-button {
        margin: 10px 0 0 0;
    }

    .section-price .price-list-title {
        width: 100%;
    }

    .section-price .price-list-title .price-list-item .price-plan {
        font-size: 23px;
    }

    .section-price .price-list-title .price-list-item .price-plan-desc {
        height: 45px;
        font-size: 11px;
    }

    .section-price .price-list-title .price-list-item .price-plan-price {
        font-size: 19px;
        color: #151515;
        text-align: center;
    }

    .section-price .price-list {
        display: none;
    }

    .section-price .price-mobile {
        display: block;
        margin-bottom: 30px;
    }

    .section-price .price-mobile .price-list-title .price-list-item {
        width: 33%;
    }

    .section-feature .feature-title {
        font-size: 38px;
    }

    .section-work .work-msg {
        font-size: 24px;
    }

    .section-work .work-desc {
        font-size: 17px;
    }

    .section-guide .guide-part .form-item-button button {
        padding: 15px 25px;
    }

    .section-price .price-list-title .price-list-item .price-plan-detail {
        font-size: 13px;
    }

    .section-price .price-title {
        font-size: 32px;
    }

    .section-service .service-msg {
        font-size: 36px;
    }

    .section-work .work-desc.effect p {
        font-size: 19px;
    }

    .section-work .work-desc.effect .mobile {
        display: block;
    }

    .section-work .work-desc.effect .pc {
        display: none;
    }

    .section-guide .guide-part .guide-trial span {
        font-size: 18px;
    }

    .section-train2 {
        width: 80%;
        font-size: 14px;
        padding: 15px 23px 26px 10px !important;
        margin-left: 0;
    }

    .section-train3 {
        width: 80%;
        font-size: 14px;
        padding: 15px 0 20px 0 !important;
        margin-left: 0;
    }

    .section-train4 {
        width: 80%;
        font-size: 14px;
        padding: 20px 21px 30px 10px !important;
        margin-left: 0;
    }

    .section-train5 {
        width: 80%;
        font-size: 14px;
        padding: 20px 21px 30px 30px !important;
        margin-left: 0;
    }

    .section-train {
        height: 1260px;
        padding: 0 10px;
    }
}

/* Active class for mobile menu */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}