// Package Modal
.modal.fade#packageModal(tabindex="-1")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Package Management
        button.btn-close(type="button" data-bs-dismiss="modal")
      .modal-body
        form#packageForm
          input(type="hidden" id="packageId" name="packageId")
          .row
            .col-md-6
              .mb-3
                label.form-label(for="packageIdInput") Package ID
                input.form-control(type="text" id="packageIdInput" name="package_id" required)
            .col-md-6
              .mb-3
                label.form-label(for="packageName") Name
                input.form-control(type="text" id="packageName" name="name" required)
          .row
            .col-md-4
              .mb-3
                label.form-label(for="creditType") Credit Type
                select.form-select(id="creditType" name="credit_type" required)
                  option(value="") Select Type
                  option(value="article") Article
                  option(value="image") Image
                  option(value="rewrite") Rewrite
            .col-md-4
              .mb-3
                label.form-label(for="credits") Credits
                input.form-control(type="number" id="credits" name="credits" required min="1")
            .col-md-4
              .mb-3
                label.form-label(for="price") Price (JPY)
                input.form-control(type="number" id="price" name="price" required min="0" step="0.01")
          .row
            .col-md-6
              .mb-3
                label.form-label(for="currency") Currency
                select.form-select(id="currency" name="currency")
                  option(value="JPY") Japanese Yen (JPY)
                  option(value="USD") US Dollar (USD)
                  option(value="EUR") Euro (EUR)
            .col-md-6
              .mb-3
                label.form-label(for="discount") Discount (optional)
                input.form-control(type="text" id="discount" name="discount" placeholder="e.g., 17% off")
          .mb-3
            label.form-label(for="description") Description
            textarea.form-control(id="description" name="description" rows="3")
          .row
            .col-md-6
              .mb-3.form-check
                input.form-check-input(type="checkbox" id="isPopular" name="is_popular")
                label.form-check-label(for="isPopular") Mark as Popular
            .col-md-6
              .mb-3.form-check
                input.form-check-input(type="checkbox" id="isActive" name="is_active" checked)
                label.form-check-label(for="isActive") Active
      .modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit" form="packageForm") Save Package