// Site Details Modal
.modal.fade#siteDetailsModal(tabindex="-1")
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        h5.modal-title Site Details
        button.btn-close(type="button" data-bs-dismiss="modal")
      .modal-body
        .row
          .col-md-4
            .card
              .card-header
                h6.mb-0 Site Information
              .card-body
                div#siteInfo
                  p.text-center Loading...
          .col-md-8
            .card
              .card-header
                h6.mb-0 Site Users
              .card-body
                .table-responsive
                  table.table.table-sm#siteUsersTable
                    thead
                      tr
                        th User Email
                        th Article Credits
                        th Image Credits
                        th Rewrite Credits
                        th Total Generations
                        th Actions
                    tbody
                      tr
                        td(colspan="6").text-center Loading...
        .row.mt-3
          .col-12
            .card
              .card-header.d-flex.justify-content-between.align-items-center
                h6.mb-0 Recent Generations
                .d-flex.gap-2
                  select.form-select.form-select-sm(style="width: 150px")#generationFilter
                    option(value="") All Types
                    option(value="article") Articles
                    option(value="image") Images
                    option(value="rewrite") Rewrites
              .card-body
                .table-responsive
                  table.table.table-sm#siteGenerationsTable
                    thead
                      tr
                        th Date
                        th User
                        th Type
                        th Prompt
                        th Length
                        th Credits
                        th Status
                    tbody
                      tr
                        td(colspan="7").text-center Loading...
      .modal-footer
        .d-flex.justify-content-between.w-100
          .d-flex.gap-2
            button.btn.btn-warning#deactivateSite
              i.fas.fa-ban.me-2
              | Deactivate Site
            button.btn.btn-info#exportSiteData
              i.fas.fa-download.me-2
              | Export Data
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close