// User Credits Modal
.modal.fade#userCreditsModal(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Manage User Credits
        button.btn-close(type="button" data-bs-dismiss="modal")
      .modal-body
        form#userCreditsForm
          input(type="hidden" id="userSiteId")
          input(type="hidden" id="userIdInput")
          .mb-3
            label.form-label User Information
            .card.bg-light
              .card-body
                p.mb-1
                  strong Email: 
                  span#userEmail
                p.mb-1
                  strong Site: 
                  span#userSite
                p.mb-0
                  strong Current Credits: 
                  span#currentCredits
          .row
            .col-md-6
              .mb-3
                label.form-label(for="creditTypeSelect") Credit Type
                select.form-select(id="creditTypeSelect" required)
                  option(value="") Select Type
                  option(value="article") Article Credits
                  option(value="image") Image Credits
                  option(value="rewrite") Rewrite Credits
            .col-md-6
              .mb-3
                label.form-label(for="creditAmount") Amount
                input.form-control(type="number" id="creditAmount" required min="1")
          .mb-3
            label.form-label(for="creditOperation") Operation
            .form-check
              input.form-check-input(type="radio" name="operation" id="addCredits" value="add" checked)
              label.form-check-label(for="addCredits") Add Credits
            .form-check
              input.form-check-input(type="radio" name="operation" id="setCredits" value="set")
              label.form-check-label(for="setCredits") Set Credits (override current)
      .modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit" form="userCreditsForm") Update Credits