extends ../base

block mainContent
    link(rel='stylesheet', href='/css/titlegenerator.css')
    h2.fw-bold.text-center SEO対応のタイトル生成ツール
    hr.my-4
    .container.mt-5
        .row.justify-content-center
            .col-md-8
                form#titlegenerator
                    .card
                        .card-header
                            h3.mb-0 キーワードを入力してください
                        .card-body
                            .form-group.my-2
                                label(for="keywords") 主要なキーワード
                                .keywords.form-box.rounded.d-flex
                                    input#keywords.form-control.w-100(type="text", name="keywords", placeholder="「Enter」または「コンマ」を押して追加", required)
                                
                            .row
                                .col-md-6.my-2
                                    .form-group
                                    label(for="country") ターゲットオーディエンスの国/地域
                                    select#country.form-control(name="country")
                                        option(value="Japan") 日本
                                        option(value="United States") アメリカ合衆国
                                .col-md-6.my-2
                                    .form-group
                                    label(for="language") 言語
                                    select#language.form-control(name="language")
                                        option(value="japanese") 日本語
                                        option(value="english") 英語
                            .form-group.my-2
                                button#suggest-topics.btn.btn-info.w-100.text-center(type="submit") 
                                    span.load.spinner-border.spinner-border-sm.me-2(role="status" style="display:none")
                                    span.text 提案されるトピック

                            
        .row.justify-content-center
            .col-md-8
                ul#result.list-group
    script(src="/js/titlegenerator.js")

