extends ../../base

block mainContent

    .container.mt-5
      h1 Affiliate Dashboard
      table.table.table-striped#affiliateTable
        thead
          tr
            th Name
            th Email
            th Website URL
            th Latest Status
            th Activate
        tbody#affiliateTableBody

          


    script(src="/js/affiliate.js")