extends ../../base

block mainContent

    .container.mt-5
      h1 アフィリエイトダッシュボード
      .table-responsive
        table.table.table-striped#affiliateTable
          thead
            tr
              th 名前
              th ウェブサイトのURL
              th 閲覧
              th クリック
              th アクティベート
              th 最新のステータス
              th 削除
          tbody#affiliateTableBody


          


    script(src="/js/affiliate.js")